<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Title</title>
</head>
<body>
    {% macro reformat(text) %}
        {{ text|replace("-", " ")|title}}
    {% endmacro %}
    <div class="Navbar">
        <div class="Home">
            <form action="/" method="GET">
                <button class="ui icon button">
                    <i class="home icon"></i>
                </button>
            </form>
        </div>
        <div class="Title">
            <h1>Pokemon {{reformat(version)}}</h1>
        </div>
    </div>
<div>
    {% for version in versions %}
        <p>{{ reformat(version) }}</p>
    {% endfor %}
</div>
<div>
    <p>{{ reformat(generation) }}</p>
</div>
<div>
    {% for region in regions %}
        <p>{{ reformat(region) }}</p>
    {% endfor %}
</div>
<div>
    <form action="/pokedex" method="GET">
        {% for pokedex in pokedexes %}
            <button class="ui button" type="submit" name="pokedex" value={{pokedex}}>{{reformat(pokedex)}}</button>
        {% endfor %}
    </form>
</div>
</body>
</html>