.Navbar {
    padding: 10px;
    background-color: grey;
}
.Buttons {
    padding: 10px;
    margin: auto;
    width: 90%;
}
.Row {
    padding: 4px;
    text-align: center;
}
.Description {
    padding-top: 10px;
}
.Title {
    width: 60%;
    margin: auto;
    text-align: center;
}
.Home {
    float: left;
}